.button {
  background-color: $primary-green;
  border: none;
  border-radius: 2.4rem;
  box-shadow: 0px 12px 76px -10px rgba(5,211,179,0.75);
  color: white;
  display: inline-block;
  line-height: 2.5;
  height: $xl-size;
  text-decoration: none;
  padding: 0 $l-size 0 $l-size;
  font-weight: 300;
  font-size: $font-size-large;
  text-align: center;
  transition: 500ms;
  margin-top: 10px;
}

.button:hover {
  box-shadow: 0px 12px 76px -8px rgba(5,211,179,0.95);
}

.button-small {
  background-color: white;
  box-shadow: 0px 12px 40px 5px rgba(5,211,179,0.10);
  border: 1px solid $primary-green;
  border-radius: 2rem;
  display: inline-block;
  color: $primary-green;
  //height: $l-size;
  line-height: 2.5;
  padding: 0 $l-size 0 $l-size;
  text-decoration: none;
  font-weight: 300;
  font-size: $font-size-small;
  text-align: center;
  transition: 500ms;
  &:hover {
    background-color: lighten($primary-green, 0.90);
    //background-color: rgba(5,211,179,0.20);
    color: white;
    box-shadow: 0px 12px 50px -14px rgba(5,211,179,0.50);
  }
}

.button-small--active {
  @extend .button-small;
  background-color: $primary-green;
  color: white;
}

.button--secondary {
  @extend .button;
  background-color: #888888;
  box-shadow: none;
  margin-bottom: $l-size;
}