.exam-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: white;
  border-radius: 0.5rem;
  margin: $m-size auto;
  padding: $l-size;
  width: 500px;
  

  h1 {
    margin: 0;
    display: inline;
  }

  input {
    width: 100%;
    border-radius: 2rem;
    margin-bottom: $m-size;
    text-align: center;
    font-size: $font-size-large;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 100%;
  }
}

.exam-container__box {
  background: $light-grey;
  padding: $l-size;
  border-radius: 10px;
}

span:nth-child(even) {
  margin-right: 6px;
}

.exam-container__result-round-format {
  margin-bottom: $s-size;
}