// Colors
$light-grey: #F7F7F7;
$primary-green: #05D3B3;

$dark-grey: #686868;
$blue:  rgb(28, 136, 191);
$dark-blue: #364051;
$off-white: #F7F7F7;

$grey: #F7F7F7;

$green: #1c8;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem; 
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// 